VITE_PUBLIC_BASE_URL=https://thenextlvl.net # Public Base URL required on runtime
VITE_FASTSTATS_SCRIPT_URL=https://faststats.dev/script.js # FastStats Script URL required on runtime
VITE_FASTSTATS_SITEKEY= # FastStats Site Key required on runtime
PAT_GITHUB= # GitHub Personal Access Token required on build-time
