@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --color-fd-primary: oklch(0.63 0.17 149);
  --tweaks-color: oklch(0.63 0.17 149);
  --worlds-color: oklch(0.6 0.18 240);
}

.dark {
  --color-fd-primary: oklch(0.63 0.17 149);
  --tweaks-color: oklch(0.63 0.17 149);
  --worlds-color: oklch(0.6 0.18 240);
}
