name: Build Test

on: [pull_request, push]

env:
  NEXT_PUBLIC_BASE_URL: https://thenextlvl.net

jobs:
  build-and-start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - name: Upload Source Map
        # This condition ensures the step only runs on the main branch
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: faststats-dev/upload-sourcemap@v0.3
        with:
          api-key: ${{ secrets.FASTSTATS_API_KEY }}
          dist-dir: .output/public/assets