name: Build Test

on: [pull_request, push]

env: 
  NEXT_PUBLIC_BASE_URL: https://thenextlvl.net

jobs:
  build-and-start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - name: Upload Source Map
        uses: faststats-dev/upload-sourcemap@v0.2
        with:
          api-key: ${{ secrets.FASTSTATS_API_KEY }}
          dist-dir: .output/public/assets
